.subgrid {
  grid-column: screen; 
  display: grid; 
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  grid-column-gap: inherit;
  grid-row-gap: inherit;
}

d-figure.base-grid {
  grid-column: screen;
  background: hsl(0, 0%, 97%);
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

d-figure {
  margin-bottom: 1em;
  position: relative;
}

d-figure > figure {
  margin-top: 0;
  margin-bottom: 0;
}

.shaded-figure {
  background-color: hsl(0, 0%, 97%);
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  padding: 30px 0;
}

.pointer {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 26px;
  left: -48px;
}

#table {
  overflow-x: scroll;
}

#table th {
  white-space: nowrap;
}

#table tbody th {
  font-weight: initial;
  border-bottom: 1px solid rgb(242, 242, 242);
}

#table tbody tr:last-of-type th {
  border-bottom: inherit;
}

#table td,
#table thead th {
  text-align: center;
}

#table td {
  border-color: rgb(242, 242, 242);
}

#table td.no {
  background-color: #f6f6f6;
}

/* make tables/figures horizontally scrollable */

figure {
  overflow-x: auto;
}

/* TOC */

@media (min-width: 768px) {
  /* TODO: maybe increase min-width (general style switches at 768px) */
  #main-article {
    /* TODO: check that this doesn't break anything */
    overflow-x: initial;
  }
  #toc {
    text-align: right;
    position: sticky;
    margin-left: -8em;
    top: 0;
    height: 0;
    width: 6em;
  }
  /* larger appendix padding/margin to prevent the TOC from scrolling over */
  d-appendix {
    margin-top: 100px !important;
  }
}
